body {
    text-align: center;
    color: #FFF;
    background: #111111;
    font-family: 'Abel', sans-serif;
    overflow: hidden;

}

footer {
    font-size: 10px;
    font-size: 0.8vw;
}

.container {
    width: 100vw;
    height: 100vh;
}

.watch {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.header {
    font-size: 1.5vw;
    margin-top: 22vh;
}

.option-container {
    position: relative;
    width: 25vw;
    height: 10vh;
    left: 37.5vw;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-gap: 1vw;
}

.session-option,
.break-option {
    width: 15vw;
    height: 10vh;
    font-size: 2vw;
}

.labels {
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-top: -7vh;
}

.option-btn {
    border: none;
    outline: none;
    background: none;
    color: #fff;
}

.option-btn:hover {
    color: #f09b1b
}

i {
    font-size: 2vw;
}

.timer-container {
    position: relative;
    width: 40vw;
    height: 16vh;
    left: 28vw;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
}

.timer-action-left {
    display: grid;
    position: relative;
}

#timer-counter {
    margin-top: 25px;
    font-size: 5vw;
}

.timer-action-right {
    display: grid;
    position: relative;
}

.timer-text {
    position: absolute;
    font-size: 1.5vw;
    margin-left: 17vw;
}

.action-container {
    position: relative;
    width: 25vw;
    height: 10vh;
    left: 37.5vw;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 12vw 12vw;
}

.action-text {
    position: absolute;
    font-size: 2vw;
    margin-left: 8vw;
    margin-top: -3vw;

}

.action-btn {
    font-family: 'Abel', sans-serif;
    font-size: 2vw;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 10vw;
    height: 5vh;
    background: #fff;
    margin-left: 2vw;
}

.action-btn:hover {
    background: #f09b1b;
    color: #fff;
}